In [1]:
import pandas as pd

# df = pd.read_csv('./csv_output/ratingInfo.csv')
df = pd.read_csv('./csv_output/commentsInfo_flair.csv')
df = df[~df['comments'].str.contains('This is an automated posting.')]
df

,Unnamed: 0,listing_id,userID,comments,estimated_rating_flair,estimated_sentiment_flair
0,0,71609,1,The rooms were clean and tidy. Beds very comfo...,3.642842,POSITIVE
1,1,3209752,2,"Thank you for making me feel at home, it is su...",3.651801,POSITIVE
2,2,3209752,3,"An absolutely amazing place. It’s clean, styli...",3.654213,POSITIVE
3,3,3209752,4,This location is private yet it is only 400m w...,3.653191,POSITIVE
4,4,3209752,5,Jeremy is a great host that will make your sta...,3.611683,POSITIVE
...,...,...,...,...,...,...
29077,29077,969863516487779068,27032,Lynnette was a proactive and responsive host w...,3.643738,POSITIVE
29078,29078,949216821315560523,27033,I stayed at this house and it is one of the be...,3.653925,POSITIVE
29079,29079,950475779057314849,27034,Very comfortable and lovely stay.,3.649185,POSITIVE
29080,29080,950475779057314849,27035,"Great spacious double room, offering a decent ...",3.647245,POSITIVE
29081,29081,950475779057314849,27036,This is a wonderful area and easy to go around...,3.651181,POSITIVE

In [2]:
duplicates = df[df.duplicated(subset=['userID', 'listing_id'], keep=False)]
duplicates

,Unnamed: 0,listing_id,userID,comments,estimated_rating_flair,estimated_sentiment_flair
7,7,3209752,8,A clean apartment with great pool within close...,3.654801,POSITIVE
12,12,3209752,8,Clean and tidy room in shared apartment in Cha...,3.654763,POSITIVE
55,55,3802621,55,Another great stay! Convenient & Cosy - my pre...,3.652289,POSITIVE
57,57,3802621,55,Another great stay!,3.652872,POSITIVE
58,58,3802621,55,"Another ""superb"" stay!",3.653747,POSITIVE
...,...,...,...,...,...,...
28501,28501,807041086591703374,26493,Returned for another stay and it was just as f...,3.653490,POSITIVE
28748,28748,852871981598768110,26725,"room was just right for me, had a small compac...",3.653903,POSITIVE
28752,28752,852871981598768110,26725,My last stay with Yoon Ying 3 weeks ago I was ...,1.344717,NEGATIVE
29055,29055,946218516981428518,27013,Really Nice place to stay! The hotel is newly ...,3.651749,POSITIVE
29056,29056,946218516981428518,27013,Super nice place and highly recommended for al...,3.654184,POSITIVE

In [3]:
df = df.groupby(['userID', 'listing_id']).agg({'estimated_rating_flair': 'mean'}).reset_index()
df

       userID          listing_id  estimated_rating_flair
0           1               71609                3.642842
1           2             3209752                3.651801
2           3             3209752                3.654213
3           4             3209752                3.653191
4           5             3209752                3.611683
...       ...                 ...                     ...
28162   27032  969863516487779068                3.643738
28163   27033  949216821315560523                3.653925
28164   27034  950475779057314849                3.649185
28165   27035  950475779057314849                3.647245
28166   27036  950475779057314849                3.651181

[28167 rows x 3 columns]

In [4]:
# rating_matrix = df.pivot(index='userID', columns='listing_id', values='rating')
rating_matrix = df.pivot(index='userID', columns='listing_id', values='estimated_rating_flair')
rating_matrix.head()

listing_id,71609,71896,71903,275343,275344,289234,294281,324945,330095,369141,...,946218516981428518,946262937217371544,948700412652397998,949216821315560523,950475779057314849,960008665521131399,960045451271498035,963205217138532470,968125040020566646,969863516487779068
userID,,,,,,,,,,,,,,,,,,,,,
1,3.642842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rating_matrix = rating_matrix.fillna(0)
rating_matrix

listing_id,71609,71896,71903,275343,275344,289234,294281,324945,330095,369141,...,946218516981428518,946262937217371544,948700412652397998,949216821315560523,950475779057314849,960008665521131399,960045451271498035,963205217138532470,968125040020566646,969863516487779068
userID,,,,,,,,,,,,,,,,,,,,,
1,3.642842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27032,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.643738
27033,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.653925,0.000000,0.0,0.0,0.0,0.0,0.000000
27034,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,3.649185,0.0,0.0,0.0,0.0,0.000000
27035,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,3.647245,0.0,0.0,0.0,0.0,0.000000
27036,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,3.651181,0.0,0.0,0.0,0.0,0.000000

In [6]:
def recommend_method(sparsity):
    if sparsity > 0.99:
        return "The matrix is very sparse. It is recommended to use matrix factorization methods such as SVD or ALS."
    elif sparsity > 0.95:
        return "The matrix is moderately sparse. Matrix factorization methods might be more suitable, but collaborative filtering methods could also perform well with proper parameter tuning."
    else:
        return "The matrix is not very sparse. Collaborative filtering methods such as user-user or item-item collaborative filtering could perform well."

# Calculate sparsity
sparsity = 1.0 - (rating_matrix > 0).sum().sum() / (rating_matrix.shape[0] * rating_matrix.shape[1])
print('Matrix sparsity:', sparsity)

# Recommend a method based on sparsity
method = recommend_method(sparsity)
print(method)

Matrix sparsity: 0.9994118152895782
The matrix is very sparse. It is recommended to use matrix factorization methods such as SVD or ALS.